.app-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* 전체 배경 검정 */
  height: 100vh;
  width: 100%;
}

/* 중앙 카드 형태 */
.form-wrapper {
  width: 360px;
  height: 640px;
  background-color: #2d352a; /* 어두운 국방색 */
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.15); /* 골드빛 그림자 */
  display: flex;
  justify-content: center;
  align-items: center;
}
