.tab-bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--app-width);
    height: 65px;
    background-color: #2d352a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #4a5548;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.tab-button {
    flex: 1;
    background: none;
    border: none;
    color: #aeb5a9;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 100%;
}

.tab-button:hover {
    color: var(--light-text-color);
}

.icon {
    font-size: 22px;
}

.label {
    font-size: 12px;
}